
@{
    ViewBag.Title = "CallTime";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/CallTime/CallTime.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/CallTime/CallTime.js"></script>


<h2>CallTime</h2>



